.container
  .cat
    .head
      .ear-container
        .ear--left
        .ear--right
      .eye-container
        .eye--left
        .eye--right
      .nose

    .body
    .hand--left
    .hand--right

  .lap.lap--left
    .lid
    .keyboard
  .lap.lap--center
    .lid
  .lap.lap--right
    .lid
    .keyboard
.text
  | Site Under Construction
